@include prefix($namespace) {
  &-table {
    height: 100%;
    &-search {
      height: 100px;
      background-color: aliceblue;
    }
    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      .title {
        font-weight: 700;
      }
      .opt {
        display: flex;
        flex: 1;
        justify-content: end;
      }
    }
    &-main {
      width: 100%;
      height: calc(100% - 200px);
      overflow-x: hidden;
      overflow-y: auto;
    }
    &-pagination {
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
