
.btn{
    padding: 6px 12px;
    border-radius: 5px;
    border-width: 1px;
    &--primary {
        background-color: $color-primary;
        border-color:$color-primary;
        color: #fff;
    }
    &--success {
        background-color: $color-success;
        border-color:$color-success;
        color: #fff;
    }
}